<div class="properties">
  <div class="container-fluid mb-3 mt-4">
    <div class="row p-0 justify-content-center gap-2">
      <div class="col-md-5">
        <input type="search" class="form-control" placeholder="ابحث عن عقار....">
      </div>
      <div class="col-md-3">
        <select class="form-select" aria-label="Status select">
          <option selected>جميع الحالات</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-md-3">
        <button class="btn btn-addSection fw-bold" data-bs-toggle="modal" data-bs-target="#addPropertyModal">
          <i class="fa-solid fa-plus"></i>
          إضافة عقار جديد
        </button>
      </div>
    </div>

    <div class="row p-0 justify-content-center mt-4">
      <div class="col-12">
        <div class="row cards row-cols-xl-4 row-cols-lg-4 row-cols-md-4 row-cols-sm-2 row-cols-1 g-4">
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-building text-primary"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">5</h5>
                  <h5 class="text-mutedd">إجمالي العقارات</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-calendar-check text-warning"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">15</h5>
                  <h5 class="text-mutedd">الحجوزات</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-check-circle text-success"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">3</h5>
                  <h5 class="text-mutedd">محجوزة</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-tools text-danger"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">2</h5>
                  <h5 class="text-mutedd">الصيانة</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal addProperty -->
    <div class="modal fade" id="addPropertyModal" tabindex="-1" aria-labelledby="addPropertyModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <!-- ================= Header ================= -->
          <div class="modal-header justify-content-between">
            <h1 class="modal-title fs-5 fw-bold">
              إضافة عقار جديد
            </h1>
            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- ================= Form ================= -->
          <form>
            <div class="modal-body">

              <div class="row">
                <div class="col-12">
                  <!-- ================= Property Name ================= -->
                  <div>
                    <label class="form-label">اسم العقار</label>
                    <input type="text" class="form-control" name="property-name"
                      placeholder="مثال : شالية البحر الفاخر">
                  </div>
                </div>
                <div class="col-12"> <!-- ================= Description ================= -->

                  <div>
                    <label class="form-label">الوصف</label>
                    <textarea class="form-control" name="description" id="" cols="30" rows="10"
                      placeholder="وصف تفصيلي عن العقار......"></textarea>
                  </div>
                </div>
                <div class="col-md-6"> <!-- ================= Category Select ================= -->

                  <div>
                    <label class="form-label">الفئة</label>
                    <select class="form-select" name="category" aria-label="Status select">
                      <option selected disabled>اختر الفئة</option>
                      <option value="1">شالية</option>
                      <option value="2">فيلا</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6"> <!-- ================= Status Select ================= -->

                  <div>
                    <label class="form-label">الحالة</label>
                    <select class="form-select" name="status" aria-label="Status select">
                      <option selected disabled>اختر الحالة</option>
                      <option value="1">نشط</option>
                      <option value="2">غير نشط</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">

                  <!-- ================= Location ================= -->

                  <div>
                    <label class="form-label">الموقع</label>
                    <input type="text" class="form-control" name="location" placeholder="اكتب الموقع هنا .....">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <!-- ================= Price ================= -->

                  <div>
                    <label class="form-label">السعر</label>
                    <input type="number" class="form-control" name="price" placeholder="0">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6"> <!-- ================= Rooms ================= -->

                  <div>
                    <label class="form-label">عدد الغرف</label>
                    <input type="number" class="form-control" name="rooms" placeholder="5">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <!-- ================= Guests ================= -->

                  <div>
                    <label class="form-label">عدد الضيوف</label>
                    <input type="number" class="form-control" name="guests" placeholder="4">
                  </div>
                </div>
                <div class="col-12">
                  <!-- ================= Image ================= -->

                  <div>
                    <label class="form-label">صورة العقار</label>
                    <input type="file" class="form-control" name="image">
                  </div>
                </div>
                <div class="col-12">

                  <!-- ================= Amenities ================= -->

                  <div>
                    <label class="form-label">المرافق والخدمات</label>
                    <select class="form-select" name="amenities" aria-label="Status select">
                      <option selected disabled>اختر المرافق</option>
                      <option value="1">واي فاي مجاني</option>
                      <option value="2">تلفاز</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- ================= Footer ================= -->

            <div class="modal-footer">
              <button type="submit" class="btn btn-addModel w-100 fw-bold">
                إضافة العقار
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>العقار</th>
                    <th>الفئة</th>
                    <th>الموقع</th>
                    <th>السعر</th>
                    <th>التقييم</th>
                    <th>الحالة</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td class="d-flex justify-content-center align-items-center">
                      <img src="/assets/img/bg.jpg" class="img-fluid box-shadow"
                        style="width: 30px; height: 30px; cursor: pointer; border-radius: 5px; margin-left: 5px;"
                        alt="imgProp" data-bs-toggle="modal" data-bs-target="#imageModal">
                      <div class="div">
                        <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                        <p style="font-size: 12px;" class="text-muted m-0">3 غرف 2 ضيوف</p>
                      </div>
                    </td>
                    <td>
                      <div class="badge bg-success">ِشالية</div>
                    </td>
                    <td>مصر , الغردقه</td>
                    <td class="text-success">800 ج</td>
                    <td>
                      <i class="fa-solid fa-star text-warning"></i>
                      <span class="ms-1">4.5</span>
                    </td>
                    <td>
                      <div class="badge bg-success">متاح</div>
                    </td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal" data-bs-target="#addPropertyModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td class="d-flex justify-content-center align-items-center">
                      <img src="/assets/img/bg.jpg" class="img-fluid box-shadow"
                        style="width: 30px; height: 30px; cursor: pointer; border-radius: 5px; margin-left: 5px;"
                        alt="imgProp" data-bs-toggle="modal" data-bs-target="#imageModal">
                      <div class="div">
                        <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                        <p style="font-size: 12px;" class="text-muted m-0">3 غرف 2 ضيوف</p>
                      </div>
                    </td>
                    <td>
                      <div class="badge bg-success">ِشالية</div>
                    </td>
                    <td>مصر , الغردقه</td>
                    <td class="text-success">800 ج</td>
                    <td>
                      <i class="fa-solid fa-star text-warning"></i>
                      <span class="ms-1">4.5</span>
                    </td>
                    <td>
                      <div class="badge bg-success">متاح</div>
                    </td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal" data-bs-target="#addPropertyModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td class="d-flex justify-content-center align-items-center">
                      <img src="/assets/img/bg.jpg" class="img-fluid box-shadow"
                        style="width: 30px; height: 30px; cursor: pointer; border-radius: 5px; margin-left: 5px;"
                        alt="imgProp" data-bs-toggle="modal" data-bs-target="#imageModal">
                      <div class="div">
                        <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                        <p style="font-size: 12px;" class="text-muted m-0">3 غرف 2 ضيوف</p>
                      </div>
                    </td>
                    <td>
                      <div class="badge bg-success">ِشالية</div>
                    </td>
                    <td>مصر , الغردقه</td>
                    <td class="text-success">800 ج</td>
                    <td>
                      <i class="fa-solid fa-star text-warning"></i>
                      <span class="ms-1">4.5</span>
                    </td>
                    <td>
                      <div class="badge bg-success">متاح</div>
                    </td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal" data-bs-target="#addPropertyModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td class="d-flex justify-content-center align-items-center">
                      <img src="/assets/img/bg.jpg" class="img-fluid box-shadow"
                        style="width: 30px; height: 30px; cursor: pointer; border-radius: 5px; margin-left: 5px;"
                        alt="imgProp" data-bs-toggle="modal" data-bs-target="#imageModal">
                      <div class="div">
                        <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                        <p style="font-size: 12px;" class="text-muted m-0">3 غرف 2 ضيوف</p>
                      </div>
                    </td>
                    <td>
                      <div class="badge bg-success">ِشالية</div>
                    </td>
                    <td>مصر , الغردقه</td>
                    <td class="text-success">800 ج</td>
                    <td>
                      <i class="fa-solid fa-star text-warning"></i>
                      <span class="ms-1">4.5</span>
                    </td>
                    <td>
                      <div class="badge bg-success">متاح</div>
                    </td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal" data-bs-target="#addPropertyModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td class="d-flex justify-content-center align-items-center">
                      <img src="/assets/img/bg.jpg" class="img-fluid box-shadow"
                        style="width: 30px; height: 30px; cursor: pointer; border-radius: 5px; margin-left: 5px;"
                        alt="imgProp" data-bs-toggle="modal" data-bs-target="#imageModal">
                      <div class="div">
                        <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                        <p style="font-size: 12px;" class="text-muted m-0">3 غرف 2 ضيوف</p>
                      </div>
                    </td>
                    <td>
                      <div class="badge bg-success">ِشالية</div>
                    </td>
                    <td>مصر , الغردقه</td>
                    <td class="text-success">800 ج</td>
                    <td>
                      <i class="fa-solid fa-star text-warning"></i>
                      <span class="ms-1">4.5</span>
                    </td>
                    <td>
                      <div class="badge bg-success">متاح</div>
                    </td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal" data-bs-target="#addPropertyModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td class="d-flex justify-content-center align-items-center">
                      <img src="/assets/img/bg.jpg" class="img-fluid box-shadow"
                        style="width: 30px; height: 30px; cursor: pointer; border-radius: 5px; margin-left: 5px;"
                        alt="imgProp" data-bs-toggle="modal" data-bs-target="#imageModal">
                      <div class="div">
                        <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                        <p style="font-size: 12px;" class="text-muted m-0">3 غرف 2 ضيوف</p>
                      </div>
                    </td>
                    <td>
                      <div class="badge bg-success">ِشالية</div>
                    </td>
                    <td>مصر , الغردقه</td>
                    <td class="text-success">800 ج</td>
                    <td>
                      <i class="fa-solid fa-star text-warning"></i>
                      <span class="ms-1">4.5</span>
                    </td>
                    <td>
                      <div class="badge bg-success">متاح</div>
                    </td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal" data-bs-target="#addPropertyModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td class="d-flex justify-content-center align-items-center">
                      <img src="/assets/img/bg.jpg" class="img-fluid box-shadow"
                        style="width: 30px; height: 30px; cursor: pointer; border-radius: 5px; margin-left: 5px;"
                        alt="imgProp" data-bs-toggle="modal" data-bs-target="#imageModal">
                      <div class="div">
                        <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                        <p style="font-size: 12px;" class="text-muted m-0">3 غرف 2 ضيوف</p>
                      </div>
                    </td>
                    <td>
                      <div class="badge bg-success">ِشالية</div>
                    </td>
                    <td>مصر , الغردقه</td>
                    <td class="text-success">800 ج</td>
                    <td>
                      <i class="fa-solid fa-star text-warning"></i>
                      <span class="ms-1">4.5</span>
                    </td>
                    <td>
                      <div class="badge bg-success">متاح</div>
                    </td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal" data-bs-target="#addPropertyModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td class="d-flex justify-content-center align-items-center">
                      <img src="/assets/img/bg.jpg" class="img-fluid box-shadow"
                        style="width: 30px; height: 30px; cursor: pointer; border-radius: 5px; margin-left: 5px;"
                        alt="imgProp" data-bs-toggle="modal" data-bs-target="#imageModal">
                      <div class="div">
                        <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                        <p style="font-size: 12px;" class="text-muted m-0">3 غرف 2 ضيوف</p>
                      </div>
                    </td>
                    <td>
                      <div class="badge bg-success">ِشالية</div>
                    </td>
                    <td>مصر , الغردقه</td>
                    <td class="text-success">800 ج</td>
                    <td>
                      <i class="fa-solid fa-star text-warning"></i>
                      <span class="ms-1">4.5</span>
                    </td>
                    <td>
                      <div class="badge bg-success">متاح</div>
                    </td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal" data-bs-target="#addPropertyModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
