<div class="properties">
  <div class="container-fluid mb-3 mt-4">
    <div class="row p-0 justify-content-start gap-2">
      <div class="col-md-5">
        <button class="btn btn-addSection fw-bold" (click)="openAddModal()">
          <i class="fa-solid fa-plus"></i>
          إضافة فئة جديدة
        </button>
      </div>
    </div>

    <!-- Modal addCategory -->
    <div class="modal fade" id="CategoryModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <!-- ================= Header ================= -->
          <div class="modal-header justify-content-between">
            <h1 class="modal-title fs-5 fw-bold">
              {{ isEditMode ? 'تعديل القسم' : 'إضافة قسم جديد' }}
            </h1>
            <button type="button" class="btn-close m-0" (click)="modalInstance.hide()" aria-label="Close"></button>
          </div>
          @if(errorMessageModel){
          <div class="alert alert-danger">
            {{errorMessageModel}}
          </div>
          }
          <!-- ================= Form ================= -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-body">

              <div class="row">
                <div class="col-12">
                  <!-- ================= category Name ================= -->
                  <div>
                    <label class="form-label">اسم الفئة</label>
                    <input type="text" class="form-control" name="category-name" placeholder="مثال :  شاليه، فيلا، شقة"
                      formControlName="name">
                    @if(nameControl?.invalid && nameControl?.touched){
                    <small class="text-danger">
                      الاسم مطلوب (3 أحرف على الأقل)
                    </small>
                    }
                  </div>
                </div>
              </div>
            </div>
            <!-- ================= Footer ================= -->

            <div class="modal-footer">
              <button type="submit" class="btn btn-addModel w-100 fw-bold" [disabled]="form.invalid">
                {{ isEditMode ? 'حفظ التعديل' : 'إضافة' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      @if(!hasLoaded) {
      <!-- فاضي خالص عشان عندك loader global -->
      } @else if(propertyGroups.length > 0) {
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>اسم الفئة</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  @for (cat of propertyGroups; track cat.id) {
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ cat.name }}</td>
                    <td>
                      <button class="btn btn-sm text-primary" (click)="openEditModal(cat.id); $event.stopPropagation()">
                        <i class="fa-solid fa-pen"></i>
                      </button>
                      <button class="btn btn-sm text-danger" (click)="deleteSub(cat.id); $event.stopPropagation()">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <app-pagination [currentPage]="pageIndex" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
      </app-pagination>
      }@else {
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="fw-bold">لا توجد بيانات</h1>
      </div>
      }
    </div>

  </div>
</div>
