<div class="properties">
  <div class="container-fluid mb-3 mt-4">
    <div class="row p-0 justify-content-start gap-2">
      <div class="col-md-6">
        <select class="form-select" aria-label="Status select">
          <option selected>جميع الفئات</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-md-5">
        <button class="btn btn-addSection fw-bold" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
          <i class="fa-solid fa-plus"></i>
          إضافة فئة جديدة
        </button>
      </div>
    </div>

    <!-- Modal addCategory -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <!-- ================= Header ================= -->
          <div class="modal-header justify-content-between">
            <h1 class="modal-title fs-5 fw-bold">
              إضافة فئة جديدة
            </h1>
            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- ================= Form ================= -->
          <form>
            <div class="modal-body">

              <div class="row">
                <div class="col-12">
                  <!-- ================= category Name ================= -->
                  <div>
                    <label class="form-label">اسم الفئة</label>
                    <input type="text" class="form-control" name="category-name" placeholder="مثال :  شاليه، فيلا، شقة">
                  </div>
                </div>
              </div>
            </div>
            <!-- ================= Footer ================= -->

            <div class="modal-footer">
              <button type="submit" class="btn btn-addModel w-100 fw-bold">
                إضافة الفئة
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>اسم الفئة</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>شالية البحر الفاخر</td>
                    <td>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
