<div class="properties">
  <div class="container-fluid mb-3 mt-4">
    <div class="row p-0 justify-content-between gap-2">
      <div class="col-md-5">
        <input type="search" class="form-control" placeholder="ابحث عن حجز....">
      </div>
      <div class="col-md-3">
        <select class="form-select" aria-label="Status select">
          <option selected>جميع الحالات</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <div class="row p-0 justify-content-center mt-4">
      <div class="col-12">
        <div class="row cards row-cols-xl-4 row-cols-lg-4 row-cols-md-4 row-cols-sm-2 row-cols-1 g-4">
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-layer-group text-primary"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">5</h5>
                  <h5 class="text-mutedd">إجمالي الحجوزات</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-circle-check text-success"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">15</h5>
                  <h5 class="text-mutedd">مؤكدة</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-hourglass-half text-warning"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">3</h5>
                  <h5 class="text-mutedd">معلق</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-money-bill-wave text-info"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">2</h5>
                  <h5 class="text-mutedd"> الايرادات</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>العميل</th>
                    <th>العقار</th>
                    <th>التاريخ</th>
                    <th>المبلغ</th>
                    <th>حالة الحجز</th>
                    <th>حالة الدفع</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-success">مؤكدة</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#DetailsModal">التفاصيل
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-warning">معلق</div>
                    </td>
                    <td>
                      <div class="badge bg-danger">غير مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#DetailsModal">التفاصيل</div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-warning">معلق</div>
                    </td>
                    <td>
                      <div class="badge bg-danger">غير مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#DetailsModal">التفاصيل</div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-success">مؤكدة</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#DetailsModal">التفاصيل</div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-success">مؤكدة</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#DetailsModal">التفاصيل</div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-warning">معلق</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#DetailsModal">التفاصيل</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Details -->
    <div class="modal fade" id="DetailsModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content custom-modal">

          <!-- Header -->
          <div class="modal-header bg-orange border-0">
            <h5 class="modal-title fw-bold fs-4">تفاصيل الحجز</h5>
            <button type="button" class="btn-close btn-close-white m-0" data-bs-dismiss="modal"></button>
          </div>

          <!-- Body -->
          <div class="modal-body p-4">
            <!-- معلومات العميل -->
            <div class="section">
              <div class="section-title">
                <i class="fa-regular fa-user text-orange ms-2"></i>
                معلومات العميل
              </div>

              <div class="info-box">
                <div class="info-row">
                  <span>الاسم :</span>
                  <span>محمد أحمد</span>
                </div>
                <div class="info-row">
                  <span>البريد الإلكتروني :</span>
                  <span>mohammed-email.com</span>
                </div>
                <div class="info-row">
                  <span>رقم الجوال :</span>
                  <span>0501234567</span>
                </div>
              </div>
            </div>

            <!-- معلومات العقار -->
            <div class="section">
              <div class="section-title">
                <i class="fa-solid fa-house text-orange ms-2"></i>
                معلومات العقار
              </div>

              <div class="info-box">
                <div class="info-row">
                  <span>اسم العقار :</span>
                  <span>شالية البحر الفاخر</span>
                </div>
                <div class="info-row">
                  <span>عدد الغرف :</span>
                  <span>2 غرفه</span>
                </div>
                <div class="info-row">
                  <span>عدد الضيوف :</span>
                  <span>4 ضيف</span>
                </div>
              </div>
            </div>

            <!-- معلومات الحجز -->
            <div class="section">
              <div class="section-title">
                <i class="fa-regular fa-calendar text-orange ms-2"></i>
                معلومات الحجز
              </div>

              <div class="info-box">
                <div class="info-row">
                  <span>تاريخ الدخول :</span>
                  <span>2026-3-20</span>
                </div>
                <div class="info-row">
                  <span>تاريخ الخروج :</span>
                  <span>2026-3-25</span>
                </div>
                <div class="info-row">
                  <span>عدد الليالي :</span>
                  <span>4 ليلة</span>
                </div>
                <div class="info-row">
                  <span>تاريخ الحجز :</span>
                  <span>2026-03-10</span>
                </div>
              </div>
            </div>

          </div>

          <!-- Footer -->
          <div class="modal-footer border-0 px-4 pb-4">
            <button class="btn btn-addModel w-100 fw-bold">إغلاق</button>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
