<div class="properties">
  <div class="container-fluid mb-3 mt-4">
    <div class="row p-0 justify-content-between gap-2">
      <div class="col-md-5">
        <input type="search" class="form-control" placeholder="ابحث عن حجز....">
      </div>
      <div class="col-md-3">
        <select class="form-select" aria-label="Status select">
          <option selected>جميع الحالات</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <div class="row p-0 justify-content-center mt-4">
      <div class="col-12">
        <div class="row cards row-cols-xl-4 row-cols-lg-4 row-cols-md-4 row-cols-sm-2 row-cols-1 g-4">
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-layer-group text-primary"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">5</h5>
                  <h5 class="text-mutedd">إجمالي الحجوزات</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-circle-check text-success"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">15</h5>
                  <h5 class="text-mutedd">مؤكدة</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-hourglass-half text-warning"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">3</h5>
                  <h5 class="text-mutedd">معلق</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-money-bill-wave text-info"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">2</h5>
                  <h5 class="text-mutedd"> الايرادات</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal addProperty -->
    <div class="modal fade" id="addPropertyModal" tabindex="-1" aria-labelledby="addPropertyModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <!-- ================= Header ================= -->
          <div class="modal-header justify-content-between">
            <h1 class="modal-title fs-5 fw-bold">
              إضافة عقار جديد
            </h1>
            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- ================= Form ================= -->
          <form>
            <div class="modal-body">

              <div class="row">
                <div class="col-12">
                  <!-- ================= Property Name ================= -->
                  <div>
                    <label class="form-label">اسم العقار</label>
                    <input type="text" class="form-control" name="property-name"
                      placeholder="مثال : شالية البحر الفاخر">
                  </div>
                </div>
                <div class="col-12"> <!-- ================= Description ================= -->

                  <div>
                    <label class="form-label">الوصف</label>
                    <textarea class="form-control" name="description" id="" cols="30" rows="10"
                      placeholder="وصف تفصيلي عن العقار......"></textarea>
                  </div>
                </div>
                <div class="col-md-6"> <!-- ================= Category Select ================= -->

                  <div>
                    <label class="form-label">الفئة</label>
                    <select class="form-select" name="category" aria-label="Status select">
                      <option selected disabled>اختر الفئة</option>
                      <option value="1">شالية</option>
                      <option value="2">فيلا</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6"> <!-- ================= Status Select ================= -->

                  <div>
                    <label class="form-label">الحالة</label>
                    <select class="form-select" name="status" aria-label="Status select">
                      <option selected disabled>اختر الحالة</option>
                      <option value="1">نشط</option>
                      <option value="2">غير نشط</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">

                  <!-- ================= Location ================= -->

                  <div>
                    <label class="form-label">الموقع</label>
                    <input type="text" class="form-control" name="location" placeholder="اكتب الموقع هنا .....">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <!-- ================= Price ================= -->

                  <div>
                    <label class="form-label">السعر</label>
                    <input type="number" class="form-control" name="price" placeholder="0">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6"> <!-- ================= Rooms ================= -->

                  <div>
                    <label class="form-label">عدد الغرف</label>
                    <input type="number" class="form-control" name="rooms" placeholder="5">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <!-- ================= Guests ================= -->

                  <div>
                    <label class="form-label">عدد الضيوف</label>
                    <input type="number" class="form-control" name="guests" placeholder="4">
                  </div>
                </div>
                <div class="col-12">
                  <!-- ================= Image ================= -->

                  <div>
                    <label class="form-label">صورة العقار</label>
                    <input type="file" class="form-control" name="image">
                  </div>
                </div>
                <div class="col-12">

                  <!-- ================= Amenities ================= -->

                  <div>
                    <label class="form-label">المرافق والخدمات</label>
                    <select class="form-select" name="amenities" aria-label="Status select">
                      <option selected disabled>اختر المرافق</option>
                      <option value="1">واي فاي مجاني</option>
                      <option value="2">تلفاز</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- ================= Footer ================= -->

            <div class="modal-footer">
              <button type="submit" class="btn btn-addModel w-100 fw-bold">
                إضافة العقار
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>العميل</th>
                    <th>العقار</th>
                    <th>التاريخ</th>
                    <th>المبلغ</th>
                    <th>حالة الحجز</th>
                    <th>حالة الدفع</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-success">مؤكدة</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">التفاصيل</div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-warning">معلق</div>
                    </td>
                    <td>
                      <div class="badge bg-danger">غير مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">التفاصيل</div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-warning">معلق</div>
                    </td>
                    <td>
                      <div class="badge bg-danger">غير مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">التفاصيل</div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-success">مؤكدة</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">التفاصيل</div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-success">مؤكدة</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">التفاصيل</div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>
                      <h6 class="fw-700 m-0">علي احمد</h6>
                      <h6 class="fw-700 m-0">Ahmed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">01154113708</p>
                    </td>
                    <td>
                      <h6 class="fw-700 m-0">شالية البحر الفاخر</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        5 ليالي • 4 ضيوف</p>
                    </td>
                    <td>من: 2026-03-20
                      إلى: 2026-03-25</td>
                    <td class="text-success">4,000 ج</td>
                    <td>
                      <div class="badge bg-warning">معلق</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-primary">التفاصيل</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
