:root {
  --main-color: #ffffff;
  --second-color: #f15a24;
  --third-color: #000000;
  --box-shadow: 0px 4px 4px 0px #00000040;
  --font-arabic: "Inter", sans-serif;
  --notch-radius: 22px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden;
  font-family: var(--font-arabic) !important;
}

body {
  margin: 0 !important;
  font-family: var(--font-arabic) !important;
  direction: rtl;
  color: var(--third-color);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.bg-orange {
  background: var(--second-color);
  color: var(--main-color);
}

/**************************************************fw-custom***********************************************/
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

.text-mutedd {
  color: rgba(179, 179, 179, 1) !important;
}

.text-orange {
  color: var(--second-color) !important;
}

.text-purple {
  color: #9925f1 !important;
}

.badge.bg-success,
.badge.bg-primary,
.badge.bg-danger,
.badge.bg-warning,
.badge.bg-black {
  font-weight: 700;
  font-size: 14px;
  border-radius: 50px !important;
  color: rgba(0, 0, 0, 0.59) !important;
  padding: 10px 20px !important;
}
.badge.bg-success {
  background-color: rgba(12, 186, 101, 0.41) !important;
}
.badge.bg-primary {
  background-color: rgba(37, 139, 241, 0.45) !important;
}
.badge.bg-danger {
  background-color: rgba(255, 76, 60, 0.59) !important;
}
.badge.bg-warning {
  background-color: rgba(255, 157, 0, 0.64) !important;
}
.badge.bg-black {
  background-color: rgba(0, 0, 0, 0.11) !important;
  color: rgba(0, 0, 0, 0.59) !important;
}

/******************************************form*************************************************/
.form-label {
  font-size: 17px;
  font-weight: 600;
  color: var(--main-color);
}

.form-control,
.form-select {
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  padding: 8px !important;
}

.form-control:focus,
.form-control:hover,
.form-select:focus,
.form-select:hover {
  border: 1px solid var(--second-color) !important;
  box-shadow: none !important;
}

.form-control::placeholder {
  color: rgba(179, 179, 179, 1) !important;
  font-weight: 500;
}

.form-select {
  background: rgb(255, 255, 255) !important;
}

/******************************************buttons*************************************************/
.btn-addSection {
  background-color: var(--second-color) !important;
  color: var(--main-color) !important;
  border: none !important;
  padding: 7px 40px !important;
  transition: all 0.3s ease; /* الحركة الناعمة */
  will-change: transform; /* تحسين الأداء */
}

.btn-addSection:hover {
  transform: scale(1.05);
  border: none !important;
  opacity: 0.8;
}

.btn-addSection:active {
  transform: scale(0.97); /* تأثير الضغط */
}

.btn-addSection:focus {
  box-shadow: none !important;
}

.btn-addModel {
  background-color: var(--second-color) !important;
  color: var(--main-color) !important;
  border: none !important;
  padding: 7px 40px !important;
  font-weight: 600;
  transition: all 0.3s ease; /* الحركة الناعمة */
  will-change: transform; /* تحسين الأداء */
}

.btn-addModel:hover {
  border: none !important;
  opacity: 0.8;
}

.btn-addModel:focus {
  box-shadow: none !important;
}

/********************************************card*************************************************/
.card {
  border: 1px solid #b3b3b3;
  border-radius: 20px !important;
  background-color: var(--main-color) !important;
  box-shadow: var(--box-shadow);
  color: var(--third-color);
  cursor: pointer;
  height: 100% !important;
}

.card:hover {
  transform: translateY(-6px);
}

.cards .card .card-body .icon-container i {
  font-size: 50px;
}

/*********************************************modal*********************************************************/

.modal-content {
  color: var(--second-color) !important;
  border-radius: 33px !important;
}

.custom-modal {
  border-radius: 20px !important;
  overflow: hidden;
}

/* section */
.section {
  margin-bottom: 20px;
}

.section-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/* gray box */
.info-box {
  background: #f2f2f2;
  border-radius: 15px;
  padding: 15px;
}

/* rows */
.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 500;
}

.info-row span:first-child {
  color: #555;
}

/**********************************************table*********************************************************/

.custom-table-design thead th {
  color: var(--thrid-color);
  font-weight: bold;
  font-size: 20px;
}

.custom-table-design tbody tr {
  border: 1px solid transparent;
}

.custom-table-design td {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  padding: 7px !important;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
