<div class="properties">
  <div class="container-fluid mb-3 mt-4">
    <div class="row p-0 justify-content-center gap-2">
      <div class="col-lg-3 col-md-5">
        <input type="search" class="form-control" placeholder="ابحث عن مستخدم....">
      </div>
      <div class="col-lg-2 col-md-5">
        <select class="form-select" aria-label="Status select">
          <option selected>جميع الحالات</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-5">
        <select class="form-select" aria-label="Status select">
          <option selected>جميع الإدوار</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-lg-4 col-md-5">
        <button class="btn btn-addSection fw-bold" data-bs-toggle="modal" data-bs-target="#addUserModal">
          <i class="fa-solid fa-plus"></i>
          إضافة مستخدم جديد
        </button>
      </div>
    </div>

    <div class="row p-0 justify-content-center mt-4">
      <div class="col-12">
        <div class="row cards row-cols-xl-4 row-cols-lg-4 row-cols-md-4 row-cols-sm-2 row-cols-1 g-4">
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-users text-primary"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">5</h5>
                  <h5 class="text-mutedd">إجمالي المستخدمين</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-user-check text-success"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">15</h5>
                  <h5 class="text-mutedd">نشط</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-user-clock text-warning"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">3</h5>
                  <h5 class="text-mutedd">معلق</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body text-center">
                <div class="icon-container">
                  <i class="fa-solid fa-user-shield text-purple"></i>
                </div>
                <div class="text-content mt-3">
                  <h5 class="fw-700">2</h5>
                  <h5 class="text-mutedd">إدارين</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal addUser -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <!-- ================= Header ================= -->
          <div class="modal-header justify-content-between">
            <h1 class="modal-title fs-5 fw-bold">
              إضافة مستخدم جديد
            </h1>
            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- ================= Form ================= -->
          <form>
            <div class="modal-body">

              <div class="row">
                <div class="col-12">
                  <!-- ================= Name ================= -->
                  <div>
                    <label class="form-label">الاسم بالكامل</label>
                    <input type="text" class="form-control" name="name" placeholder="مثال : أحمد محمد علي">
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- ================= email ================= -->
                  <div>
                    <label class="form-label">البريد الإلكتروني</label>
                    <input type="email" class="form-control" name="email" placeholder="example@gamil.com">
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- ================= phone ================= -->
                  <div>
                    <label class="form-label">رقم الجوال</label>
                    <input type="text" class="form-control" name="phone" placeholder="01234567890">
                  </div>
                </div>
                <div class="col-12">
                  <!-- ================= city ================= -->
                  <div>
                    <label class="form-label">المدينة</label>
                    <input type="text" class="form-control" name="city" placeholder="اسم المدينة">
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- ================= validity Select  ================= -->
                  <div>
                    <label class="form-label">صلاحية</label>
                    <select class="form-select" name="validity" aria-label="validity select">
                      <option selected disabled>اختر الصلاحية</option>
                      <option value="1">عميل</option>
                      <option value="2">مدفوع</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6"> <!-- ================= Status Select ================= -->

                  <div>
                    <label class="form-label">الحالة</label>
                    <select class="form-select" name="status" aria-label="Status select">
                      <option selected disabled>اختر الحالة</option>
                      <option value="1">نشط</option>
                      <option value="2">غير نشط</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- ================= Footer ================= -->

            <div class="modal-footer">
              <button type="submit" class="btn btn-addModel w-100 fw-bold">
                إضافة المستخدم
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <!-- Modal Details -->
    <div class="modal fade" id="DetailsModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content custom-modal">

          <!-- Header -->
          <div class="modal-header bg-orange border-0">
            <h5 class="modal-title fw-bold fs-4">تفاصيل المستخدم</h5>
            <button type="button" class="btn-close btn-close-white m-0" data-bs-dismiss="modal"></button>
          </div>

          <!-- Body -->
          <div class="modal-body p-4">
            <div class="row">
              <div class="col-12 text-center">
                <div class="user-image-container mb-3">
                  <img src="/assets/img/user.png" alt="User Avatar" class="user-avatar">
                  <h6 class="mt-3">محمد أحمد</h6>
                  <h6>mohamed12-gamil.com</h6>
                </div>
              </div>
              <div class="col-md-6">
                <!-- معلومات العميل -->
                <div class="section">
                  <div class="info-box">
                    <div>
                      <h6>رقم الجوال</h6>
                      <h6 class="text-muted">011454113568</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- معلومات العميل -->
                <div class="section">
                  <div class="info-box">
                    <div>
                      <h6>المدينة</h6>
                      <h6 class="text-muted">ليبيا</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- معلومات العميل -->
                <div class="section">
                  <div class="info-box">
                    <div>
                      <h6>عدد الحجوازت</h6>
                      <h6 class="text-muted">15</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- معلومات العميل -->
                <div class="section">
                  <div class="info-box">
                    <div>
                      <h6>الانفاق الكلي</h6>
                      <h6 class="text-muted">5000 ج</h6>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <!-- Footer -->
          <div class="modal-footer border-0 px-4 pb-4">
            <button class="btn btn-addModel w-100 fw-bold">إغلاق</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>المستخدم</th>
                    <th>معلومات</th>
                    <th>المدينة</th>
                    <th>تاريخ الانضمام</th>
                    <th>الحجوزات</th>
                    <th>الانفاق الكلي</th>
                    <th>الصلاحية</th>
                    <th>الحالة</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>محمد احمد</td>
                    <td>
                      <h6 class="fw-700 m-0">mohammed-gmail.com</h6>
                      <p style="font-size: 12px;" class="text-muted m-0">
                        011154113708</p>
                    </td>
                    <td>ليبيا</td>
                    <td>25-3-2026</td>
                    <td class="text-primary">12</td>
                    <td class="text-danger">8000 ج</td>
                    <td>
                      <div class="badge bg-black">مدفوع</div>
                    </td>
                    <td>
                      <div class="badge bg-success">مدفوع</div>
                    </td>
                    <td>
                      <i class="fa-solid fa-eye text-secondary" data-bs-toggle="modal"
                        data-bs-target="#DetailsModal"></i>
                      <i class="fa-solid fa-pen text-primary" data-bs-toggle="modal" data-bs-target="#addUserModal"></i>
                      <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
